.tile{
    width: 45px; /* Adjust the width and height to make your square as desired */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px; /* Add rounded corners */
    border-color: transparent;
    border-style: none;
    margin: 5px;
}

/*@media only screen*/
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px)*/
/*and (orientation : landscape) {*/
/*    .tile {*/
/*        width: 20px;*/
/*        height: 20px;*/
/*        !*margin: 10px;*!*/
/*    }*/
/*}*/

.selected {
    border-color: blue;
}

.bank {
    background-color: #f7dfa6;
    /*background-color: darkgreen;*/
    color: black;
    cursor: pointer;
}

.board-full {
    background-color: floralwhite; /* Set your desired background color */
    border-color: blue;
    cursor: pointer;
}

.board-empty {
    background-color: lightgrey; /* Set your desired background color */
    border-color: black;
    cursor: pointer;
}