.board-container {
    padding: 15px;
}

.tile-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0 !important;
}

.tile-row .col {
    padding: 0px;
    flex: 0 0 auto;
    width: auto;
}