.popup-content {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: white;
}

.popup-button {
    display: inline-flex;
    align-items: center;
    height: auto;
    padding: 5px 12px;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin: 5px;
    white-space: nowrap;
}

.my-tooltip > .tooltip-inner {
    background-color: #000;
    color: floralwhite;
    border: 1px solid #000;
    width: 300px;
}