.tile-wrapper {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center items within the .tile-wrapper */
}

.drop-box{
    width: 400px; /* Adjust the width and height to make your square as desired */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Add rounded corners */
    border-color: lightgrey;
    border-style: groove;
    background-color: white;
    margin-top: 10px;
}