.square-grid-container {
    display: flex;
    width: 75%;
    height: 100vh;
    overflow: hidden;
}

.bank-grid-container {
    display: flex;
    width: 75%;
    height: 100vh;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
}

.letter-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
    background-color: lightblue; /* Add background color or other styling as desired */
}

.row {
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}
