.App {
  text-align: center;
}

.row {
  justify-content: center;
}

.board {
  width: fit-content !important;
  min-width: 700px !important;
}

.tile-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}


.button {
  width: 90px;
  height: 35px;
  border-color: transparent;
  margin: 10px;
  border-radius: 10px; /* Add rounded corners */
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
}

.button:hover {
  color: white;
  background-color: darkslategrey;
}

.button:disabled {
  color: black;
  background-color: lightgrey;
  cursor: not-allowed;
}

.button:disabled:hover {
  color: black;
  background-color: lightgrey;
  border: transparent;
  cursor: not-allowed;
}


.validate-button {
  width: 90px;
  height: 35px;
  border-color: transparent;
  margin: 10px;
  border-radius: 10px; /* Add rounded corners */
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: darkgreen;
}

.validate-button:hover {
  color: white;
  background-color: seagreen;
}

.validate-button:disabled {
  color: black;
  background-color: lightgrey;
  cursor: not-allowed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

